@charset "UTF-8";
*,
::before,
::after {
  box-sizing: border-box;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
select,
button {
  font: inherit;
}

html {
  height: 100%;
  scrollbar-gutter: stable;
}

html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1.5;
}

a:where([class]) {
  display: inline-flex;
}

button,
label {
  cursor: pointer;
}

:where([fill]:not([fill='none'], [fill^='url'])) {
  fill: currentColor;
}

:where([stroke]:not([stroke='none'], [stroke^='url'])) {
  stroke: currentColor;
}

svg * {
  transition-property: fill, stroke;
}

:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

@font-face {
  font-family: 'TTLakes';
  src: url('../fonts/TTLakes-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'TTLakes';
  src: url('../fonts/TTLakes-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'TTLakes';
  src: url('../fonts/TTLakes-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  min-width: 320px;
  padding: 0;
  font-family: TTLakes, sans-serif;
  font-size: 14px;
  background-color: #f8f8f8;
  color: #1b1c21;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

button {
  transform: rotate(0deg) scale(1);
  transition: transform 0.7s ease-in-out;
  background: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
button:hover {
  filter: drop-shadow(0px 0px 6px rgba(198, 2, 110, 0.3));
  transform: rotate(360deg) scale(1.2);
}

:focus {
  outline: none;
  filter: drop-shadow(1px 1px 6px #7e7e82);
}

.header {
  display: flex;
  height: 86px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #b8ffec;
  background-color: #ffffff;
}
.header__left {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-left: 15px;
}
.header__center {
  display: none;
}
.header__right {
  display: flex;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
  gap: 15px;
  padding: 0;
}
.header__logo {
  order: 3;
}
.header__button {
  background-color: transparent;
  width: 40px;
  height: 40px;
}
.header__button--burger {
  background-image: url(../img/burger.svg);
  order: 1;
}
.header__button--call {
  background-image: url(../img/call.svg);
}
.header__button--chat {
  background-image: url(../img/chat.svg);
}
.header__button--profile {
  background-image: url(../img/profile.svg);
}
.header__button--repair {
  background-image: url(../img/repair.svg);
}
.header__button--check {
  background-image: url(../img/check.svg);
}
.header__left::after {
  content: '';
  border: 1px solid #eaeaea;
  height: 32px;
  margin-left: 5px;
  order: 4;
}

.actions {
  display: none;
  margin-right: 25px;
  gap: 35px;
}
.actions__button--request {
  padding: 0;
}
.actions__button--request:hover {
  transform: none;
  box-shadow: none;
}
.actions__button--request::after {
  content: '';
  display: inline-block;
  margin-left: 15px;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  transform: rotate(0deg) scale(1);
  transition: transform 0.7s ease-in-out;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  border: none;
  background: url(../img/repair.svg) no-repeat transparent;
}
.actions__button--request:hover::after {
  box-shadow: 0px 0px 6px rgba(198, 2, 110, 0.3);
  transform: rotate(360deg) scale(1.2);
}
.actions__button--status {
  padding: 0;
}
.actions__button--status:hover {
  transform: none;
  box-shadow: none;
}
.actions__button--status::after {
  content: '';
  display: inline-block;
  margin-left: 15px;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  transform: rotate(0deg) scale(1);
  transition: transform 0.7s ease-in-out;
  background: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  border: none;
  background: url(../img/check.svg) no-repeat transparent;
}
.actions__button--status:hover::after {
  box-shadow: 0px 0px 6px rgba(198, 2, 110, 0.3);
  transform: rotate(360deg) scale(1.2);
}

.section-title {
  padding-top: 30px;
  margin: 0 auto 30px 0;
  font-size: 28px;
}
.section-title::before {
  content: '';
  border: #41f6d7 solid 2px;
  border-radius: 0 20px 20px 0;
  height: 40px;
  margin-right: 15px;
}

.navigation__list {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  align-items: center;
  margin: 0 0 20px 15px;
  padding: 0;
  -webkit-overflow-scrolling: touch;
}
.navigation__list::-webkit-scrollbar {
  display: none;
}
.navigation__item {
  display: flex;
  scroll-snap-align: start;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  border-radius: 6px;
  height: 40px;
  padding: 0 10px;
  flex-shrink: 0;
}
.navigation__item:hover {
  border-color: #b8ffec;
  background: #ffffff;
}
.navigation__link {
  text-decoration: none;
  font-size: 16px;
  color: #7e7e82;
  display: inline-block;
}

.about {
  margin-bottom: 20px;
}
.about__text-container {
  margin: 0 15px;
}
.about__image {
  margin: 0 auto;
}

.brands__slider-container {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.brands__header {
  height: 80px;
  background: linear-gradient(to right, #f8f8f8, #ffffff);
  border-top: 1px solid #b8ffec;
}
.brands__title {
  padding: 15px;
  font-size: 16px;
  font-weight: 400;
  color: #7e7e82;
}
.brands__slider {
  margin-top: 15px;
  overflow: hidden;
}
.brands__bullet {
  background-color: #b5b6bc;
  width: 12px;
  height: 12px;
  margin: 0 6px;
  border-radius: 50%;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.brands__bullet--active {
  opacity: 1;
  background-color: #b5b6bc;
}
.brands__pagination {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.brands__expand-button {
  display: none;
  color: #1b1c21;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  border: none;
  background-color: transparent;
  padding: 0;
}
.brands__expand-button::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 11px;
  background: url(../img/icon.svg) no-repeat transparent;
  margin-right: 10px;
  vertical-align: text-bottom;
  transform-style: preserve-3d;
  transition: transform 0.4s;
  margin: 10px 10px 5px;
}
.brands__expand-button.coup::before {
  transform: rotateX(180deg);
}
.brands__expand-button:hover {
  transform: none;
  box-shadow: none;
}

.brand-slide.swiper-slide {
  margin: 0 0 15px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 72px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  flex-shrink: 0;
}

.brand-card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 15px;
}
.brand-card__btn {
  background-image: url(../img/go.svg);
  width: 40px;
  height: 40px;
}

.services__slider-container {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.services__header {
  height: 80px;
  background: linear-gradient(to right, #f8f8f8, #ffffff);
  border-top: 1px solid #b8ffec;
}
.services__title {
  padding: 15px;
  font-size: 16px;
  font-weight: 400;
  color: #7e7e82;
}
.services__slider {
  margin-top: 15px;
  overflow: hidden;
}
.services__bullet {
  background-color: #b5b6bc;
  width: 12px;
  height: 12px;
  margin: 0 6px;
  border-radius: 50%;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.services__bullet--active {
  opacity: 1;
  background-color: #b5b6bc;
}
.services__pagination {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.services__expand-button {
  display: none;
  color: #1b1c21;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  border: none;
  background-color: transparent;
  padding: 0;
}
.services__expand-button::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 11px;
  background: url(../img/icon.svg) no-repeat transparent;
  margin-right: 10px;
  vertical-align: text-bottom;
  transform-style: preserve-3d;
  transition: transform 0.4s;
  margin: 10px 10px 5px;
}
.services__expand-button.coup::before {
  transform: rotateX(180deg);
}
.services__expand-button:hover {
  transform: none;
  box-shadow: none;
}

.service-slide.swiper-slide {
  margin: 0 0 15px 15px;
  display: flex;
  width: 240px;
  height: 160px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  flex-shrink: 0;
}

.service-card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px;
}
.service-card__btn {
  margin-top: auto;
  background-image: url(../img/go.svg);
  background-color: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.prices__slider-container {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.prices__header {
  height: 56px;
  background: linear-gradient(to right, #f8f8f8, #ffffff);
  border-top: 1px solid #b8ffec;
}
.prices__title {
  padding: 15px;
  font-size: 16px;
  font-weight: 400;
  color: #7e7e82;
}
.prices__table-title {
  display: none;
}
.prices__slider {
  margin-top: 15px;
  overflow: hidden;
}
.prices__bullet {
  background-color: #b5b6bc;
  width: 12px;
  height: 12px;
  margin: 0 6px;
  border-radius: 50%;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.prices__bullet--active {
  opacity: 1;
  background-color: #b5b6bc;
}
.prices__pagination {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.price-slide.swiper-slide {
  margin: 0 0 15px 15px;
  display: flex;
  width: 260px;
  height: 200px;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  flex-shrink: 0;
}

.price-card {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
  padding: 15px;
}
.price-card__label {
  color: #7e7e82;
}
.price-card__btn {
  position: absolute;
  right: 15px;
  bottom: 15px;
  background-image: url(../img/Group\ 10.svg);
  background-color: transparent;
  width: 119px;
  height: 32px;
  border: none;
  border-radius: 0%;
  transform: scale(1);
  cursor: pointer;
}
.price-card__btn:hover {
  transform: scale(1.2);
  box-shadow: none;
  filter: drop-shadow(0px 0px 6px rgba(198, 2, 110, 0.3));
}

.expand-button {
  color: #1b1c21;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  border: none;
  background-color: transparent;
  margin: 10px 0 15px 0;
  padding: 0;
}
.expand-button::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 11px;
  background: url(../img/icon.svg) no-repeat transparent;
  margin-right: 10px;
  vertical-align: text-bottom;
  transform-style: preserve-3d;
  transition: transform 0.4s;
  margin: 10px 10px 5px;
}
.expand-button.coup::before {
  transform: rotateX(180deg);
}
.expand-button:hover {
  transform: none;
  box-shadow: none;
}

.info {
  max-width: 460px;
}
.info__text {
  padding: 0 30px 20px 15px;
}
.info__btn {
  margin: 0 15px 50px 15px;
  padding: 0;
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.info__btn:hover {
  transform: none;
  box-shadow: none;
}
.info__btn::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  width: 10px;
  height: 12px;
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
  background: url(../img/Line.svg) no-repeat transparent;
}
.info__btn:hover::after {
  filter: drop-shadow(0px 0px 6px rgba(198, 2, 110, 0.3));
  transform: scale(1.3);
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #7e7e82;
  padding-bottom: 15px;
  align-items: center;
}
.footer__line {
  text-align: center;
}

.burger-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 1000;
  background-color: #ffffff;
  overflow: auto;
}
.burger-menu.active {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}
.burger-menu__wrapper {
  display: flex;
  flex-direction: column;
}
.burger-menu__header {
  display: flex;
  padding: 20px;
  align-items: center;
  flex-shrink: 0;
}
.burger-menu__close-btn {
  width: 40px;
  height: 40px;
  background: url('../img/burger 2.svg') no-repeat center;
}
.burger-menu__logo {
  background: url('../img/group.svg') no-repeat center;
  width: 100px;
  height: 55px;
  margin: 0 auto;
}
.burger-menu__search {
  width: 40px;
  height: 40px;
  background: url('../img/search.svg') no-repeat center;
}
.burger-menu__nav {
  padding: 0 20px;
}
.burger-menu__item {
  position: relative;
  width: fit-content;
}
.burger-menu__item::before {
  content: '';
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  height: 32px;
  width: 4px;
  background-color: #41f6d7;
  border-radius: 0 4px 4px 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.burger-menu__item:hover::before,
.burger-menu__item.active::before {
  opacity: 1;
}
.burger-menu__link {
  display: block;
  padding: 10px 0;
  color: #1b1c21;
  transform: scale(1);
}
.burger-menu__link:hover {
  color: #7e7e82;
  margin-left: 20px;
  transform: scale(1.05);
  transition: all 0.3s ease;
}
.burger-menu__footer {
  padding: 20px;
}
.burger-menu__buttons {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}
.burger-menu__call-btn,
.burger-menu__chat-btn,
.burger-menu__profile-btn {
  width: 40px;
  height: 40px;
}
.burger-menu__call-btn {
  background-image: url('../img/call.svg');
}
.burger-menu__chat-btn {
  background-image: url('../img/chat.svg');
}
.burger-menu__profile-btn {
  background-image: url('../img/profile.svg');
}
.burger-menu__contacts {
  margin-bottom: 20px;
}
.burger-menu__mail,
.burger-menu__phone {
  display: block;
  color: #1b1c21;
  margin-bottom: 15px;
  transition: color 0.3s ease;
}
.burger-menu__mail:hover,
.burger-menu__phone:hover {
  color: #7e7e82;
}
.burger-menu__phone {
  position: relative;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 700;
  color: #1b1c21;
}
.burger-menu__phone::after {
  content: '☎';
  position: absolute;
  top: -3px;
  left: 210px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  transform: scale(2);
}
.burger-menu__phone:hover::after {
  display: inline-block;
  opacity: 1;
  transition: all 0.5s ease-in-out;
  transform: scale(1);
}
.burger-menu__lang-switcher {
  display: flex;
  gap: 10px;
}
.burger-menu__lang-btn {
  cursor: pointer;
  padding: 0;
  transition: color 0.3s ease;
}
.burger-menu__lang-btn:hover,
.burger-menu__lang-btn.active {
  color: #7e7e82;
  box-shadow: none;
}

.submenu-feedback {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease,
    visibility 0.3s ease;
  z-index: 1001;
  background-color: #ffffff;
  overflow-y: auto;
}
.submenu-feedback.active {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}
.submenu-feedback__close-btn {
  width: 40px;
  height: 40px;
  margin: 20px 15px;
  background: url('../img/burger 2.svg') no-repeat center;
}
.submenu-feedback__title {
  padding-top: 20px;
  margin: 0 auto 10px 0;
  font-size: 24px;
}
.submenu-feedback__title::before {
  content: '';
  border: #41f6d7 solid 2px;
  border-radius: 0 20px 20px 0;
  height: 40px;
  margin-right: 15px;
}
.submenu-feedback__form {
  width: 320px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.submenu-feedback__field {
  margin: 15px;
  padding: 15px;
  color: #7e7e82;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  font-size: 16px;
  width: 288px;
  height: 48px;
}
.submenu-feedback__field:focus {
  border-color: #41f6d7;
  outline: none;
}
.submenu-feedback ::placeholder {
  color: #b5b6bc;
}
.submenu-feedback__policy {
  color: #7e7e82;
  margin-left: 15px;
}
.submenu-feedback__text-accent {
  color: #ff3e79;
}
.submenu-feedback textarea {
  resize: none;
  height: 118px;
}
.submenu-feedback__submit-btn {
  margin: 20px 15px 40px auto;
  background-image: url(../img/Group\ 11.svg);
  background-color: transparent;
  width: 136px;
  height: 32px;
  border: none;
  border-radius: 0%;
  transform: scale(1);
  cursor: pointer;
}
.submenu-feedback__submit-btn:hover {
  transform: scale(1.1);
  box-shadow: none;
  filter: drop-shadow(0px 0px 6px rgba(198, 2, 110, 0.3));
}

.submenu-contact {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease,
    visibility 0.3s ease;
  z-index: 1001;
  background-color: #ffffff;
  overflow-y: auto;
}
.submenu-contact.active {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}
.submenu-contact__close-btn {
  width: 40px;
  height: 40px;
  margin: 20px 15px;
  background: url('../img/burger 2.svg') no-repeat center;
}
.submenu-contact__title {
  padding-top: 20px;
  margin: 0 auto 10px 0;
  font-size: 24px;
}
.submenu-contact__title::before {
  content: '';
  border: #41f6d7 solid 2px;
  border-radius: 0 20px 20px 0;
  height: 40px;
  margin-right: 15px;
}
.submenu-contact__form {
  width: 320px;
  display: flex;
  flex-direction: column;
}
.submenu-contact__field {
  margin: 15px;
  padding: 15px;
  color: #7e7e82;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  font-size: 16px;
  width: 288px;
  height: 48px;
}
.submenu-contact__field:focus {
  border-color: #41f6d7;
  outline: none;
}
.submenu-contact ::placeholder {
  color: #b5b6bc;
}
.submenu-contact__policy {
  color: #7e7e82;
  margin-left: 15px;
}
.submenu-contact__text-accent {
  color: #ff3e79;
}
.submenu-contact textarea {
  resize: none;
  height: 118px;
}
.submenu-contact__submit-btn {
  margin: 20px 15px 40px auto;
  background-image: url(../img/Group\ 11.svg);
  background-color: transparent;
  width: 136px;
  height: 32px;
  border: none;
  border-radius: 0%;
  transform: scale(1);
  cursor: pointer;
}
.submenu-contact__submit-btn:hover {
  transform: scale(1.1);
  box-shadow: none;
  filter: drop-shadow(0px 0px 6px rgba(198, 2, 110, 0.3));
}

@media (min-width: 768px) {
  .header__center {
    display: block;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 10px;
    gap: 15px;
  }
  .header__center::after {
    content: '';
    border: 1px solid #eaeaea;
    height: 32px;
    margin-left: 10px;
  }
  .header__left {
    margin-left: 25px;
  }
  .header__left::after {
    content: '';
    border: #eaeaea solid 1px;
    height: 32px;
    order: 2;
    margin: 0 5px 0 5px;
  }
  .header__right {
    margin-right: 25px;
  }
  .section-title::before {
    margin-right: 25px;
  }
  .navigation__list {
    margin-left: 25px;
  }
  .about {
    display: flex;
    gap: 50px;
    margin: 25px 0;
  }
  .about__text-container {
    margin: 0 25px;
  }
  .about__paragraph--hidden.visually-hidden {
    position: static;
    width: auto;
    height: auto;
    margin: initial;
    clip: auto;
    overflow: visible;
    clip-path: none;
    white-space: normal;
  }
  .about__image {
    margin-right: 25px;
    border-radius: 2%;
    width: 360px;
    height: 210px;
  }
  .brands__header {
    height: 56px;
  }
  .brands__title {
    padding-left: 25px;
  }
  .brands__list {
    flex-wrap: wrap;
  }
  .brands__slider-container {
    padding: 0;
    margin: 0;
  }
  .brands__expand-button {
    display: block;
    margin: 0 auto 35px 25px;
  }
  .brand-slide.swiper-slide {
    width: 224px;
    margin: 0 0 25px 25px;
  }
  .brand-slide.swiper-slide:nth-child(n + 7) {
    display: none;
  }
  .services__header {
    height: 56px;
  }
  .services__title {
    padding-left: 25px;
  }
  .services__list {
    flex-wrap: wrap;
  }
  .services__slider-container {
    margin: 0;
    padding: 0;
  }
  .services__expand-button {
    display: block;
    margin: 0 auto 35px 25px;
  }
  .service-slide.swiper-slide {
    width: 224px;
    margin: 0 0 25px 25px;
  }
  .service-slide.swiper-slide:nth-child(n + 4) {
    display: none;
  }
  .prices__slider-container {
    background-color: #ffffff;
    margin: 25px;
    padding: 0;
    border-radius: 6px;
  }
  .prices__header {
    height: 56px;
    background: linear-gradient(to right, #f8f8f8, #ffffff);
    border-top: 1px solid #b8ffec;
  }
  .prices__title {
    padding-left: 25px;
  }
  .prices__list {
    display: flex;
    flex-direction: column;
  }
  .prices__table-title {
    color: #7e7e82;
    display: grid;
    grid-template-columns: 3.2fr 0.7fr 1fr 0.9fr;
    padding-top: 25px;
  }
  .prices__item:nth-child(1) {
    padding-left: 48px;
  }
  .price-slide.swiper-slide {
    width: 100%;
    height: auto;
    margin: 0;
    border: none;
  }
  .price-card {
    display: grid;
    grid-template-columns: 3.1fr 0.7fr 1fr 0.8fr;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #eee;
  }
  .price-card__details {
    display: contents;
  }
  .price-card__label {
    display: none;
  }
  .price-card__title,
  .price-card__price,
  .price-card__duration {
    padding: 5px;
  }
  .price-card__btn {
    justify-self: end;
  }
  .info__text {
    padding-left: 25px;
  }
  .info__btn {
    margin-left: 25px;
  }
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    padding: 25px;
  }
  .footer__line:nth-child(1) {
    justify-content: start;
    text-align: start;
  }
  .footer__line:nth-child(3) {
    justify-content: end;
    text-align: end;
  }
  .burger-menu {
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
  }
  .burger-menu__wrapper {
    background-color: #ffffff;
    max-width: 320px;
    box-shadow: 20px 0px 40px rgba(14, 24, 80, 0.2);
  }
  .burger-menu__footer {
    margin-top: 200px;
  }
  .submenu-contact {
    background-color: rgba(255, 255, 255, 0.5);
  }
  .submenu-contact__wrapper {
    height: 100%;
    background-color: #ffffff;
    max-width: 320px;
    box-shadow: 20px 0px 40px rgba(14, 24, 80, 0.2);
  }
  .submenu-feedback {
    background-color: rgba(255, 255, 255, 0.5);
  }
  .submenu-feedback__wrapper {
    height: 100%;
    background-color: #ffffff;
    max-width: 320px;
    box-shadow: 20px 0px 40px rgba(14, 24, 80, 0.2);
  }
  .show-all .brand-slide.swiper-slide {
    display: flex;
  }
  .show-all .service-slide.swiper-slide {
    display: flex;
  }
}
@media (min-width: 996px) {
  .brand-slide.swiper-slide:nth-child(n + 7) {
    display: flex;
  }
  .brand-slide.swiper-slide:nth-child(n + 9) {
    display: none;
  }
  .service-slide.swiper-slide:nth-child(n + 4) {
    display: flex;
  }
  .service-slide.swiper-slide:nth-child(n + 5) {
    display: none;
  }
  .show-all .brand-slide.swiper-slide {
    display: flex;
  }
  .show-all .service-slide.swiper-slide {
    display: flex;
  }
}
@media (min-width: 1245px) {
  .brand-slide.swiper-slide:nth-child(n + 9) {
    display: flex;
  }
  .brand-slide.swiper-slide:nth-child(n + 11) {
    display: none;
  }
  .service-slide.swiper-slide:nth-child(n + 5) {
    display: flex;
  }
  .service-slide.swiper-slide:nth-child(n + 6) {
    display: none;
  }
  .show-all .brand-slide.swiper-slide {
    display: flex;
  }
  .show-all .service-slide.swiper-slide {
    display: flex;
  }
}
@media (min-width: 1366px) {
  .container {
    display: grid;
    grid-template-columns: minmax(280px, 1.3fr) 5fr;
  }
  .burger-menu {
    position: static;
    height: auto;
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    transition: none;
    background-color: #ffffff;
  }
  .burger-menu__wrapper {
    box-shadow: none;
  }
  .burger-menu__close-btn {
    display: none;
  }
  .burger-menu__logo {
    margin-left: 0;
  }
  .burger-menu__footer {
    margin-top: 200px;
  }
  .header {
    display: none;
  }
  .wrapper {
    display: flex;
  }
  .actions {
    display: flex;
  }
  .navigation__list {
    flex-wrap: wrap;
    overflow-x: hidden;
  }
  .navigation__item {
    padding: 0 15px;
  }
  .about__image {
    width: 530px;
    height: 307px;
  }
  .brand-slide.swiper-slide {
    width: 240px;
    margin: 0 0 25px 25px;
  }
  .brand-slide.swiper-slide:nth-child(n + 7) {
    display: flex;
  }
  .brand-slide.swiper-slide:nth-child(n + 9) {
    display: none;
  }
  .service-slide.swiper-slide {
    width: 240px;
    margin: 0 0 25px 25px;
  }
  .service-slide.swiper-slide:nth-child(n + 4) {
    display: flex;
  }
  .service-slide.swiper-slide:nth-child(n + 5) {
    display: none;
  }
  .submenu-contact {
    display: flex;
    flex-direction: row-reverse;
    position: fixed;
    left: auto;
    right: 0;
    transform: translateX(100%);
  }
  .submenu-contact.active {
    transform: translateX(0);
  }
  .submenu-contact__wrapper {
    min-width: 420px;
    position: relative;
  }
  .submenu-contact__form {
    width: 420px;
    padding: 15px;
  }
  .submenu-contact__close-btn {
    position: absolute;
    left: -90px;
  }
  .submenu-contact__title::before {
    margin-right: 30px;
  }
  .submenu-contact__field {
    width: 360px;
  }
  .submenu-feedback {
    display: flex;
    flex-direction: row-reverse;
    position: fixed;
    left: auto;
    right: 0;
    transform: translateX(100%);
  }
  .submenu-feedback.active {
    transform: translateX(0);
  }
  .submenu-feedback__wrapper {
    min-width: 420px;
    position: relative;
  }
  .submenu-feedback__form {
    width: 420px;
    padding: 15px;
  }
  .submenu-feedback__close-btn {
    position: absolute;
    left: -90px;
  }
  .submenu-feedback__title::before {
    margin-right: 30px;
  }
  .submenu-feedback__field {
    width: 360px;
  }
  .show-all .brand-slide.swiper-slide {
    display: flex;
  }
  .show-all .service-slide.swiper-slide {
    display: flex;
  }
}
@media (min-width: 1670px) {
  .brand-slide.swiper-slide:nth-child(n + 9) {
    display: flex;
  }
  .brand-slide.swiper-slide:nth-child(n + 11) {
    display: none;
  }
  .service-slide.swiper-slide:nth-child(n + 5) {
    display: flex;
  }
  .service-slide.swiper-slide:nth-child(n + 6) {
    display: none;
  }
  .show-all .brand-slide.swiper-slide {
    display: flex;
  }
  .show-all .service-slide.swiper-slide {
    display: flex;
  }
}
@media (min-width: 1800px) {
  body {
    margin: 0 10%;
    box-shadow:
      2em 0 5em rgba(0, 0, 0, 0.1),
      -2em 0 5em rgba(0, 0, 0, 0.1);
  }
  .brand-slide.swiper-slide:nth-child(n + 7) {
    display: flex;
  }
  .brand-slide.swiper-slide:nth-child(n + 9) {
    display: none;
  }
  .service-slide.swiper-slide:nth-child(n + 4) {
    display: flex;
  }
  .service-slide.swiper-slide:nth-child(n + 5) {
    display: none;
  }
  .show-all .brand-slide.swiper-slide {
    display: flex;
  }
  .show-all .service-slide.swiper-slide {
    display: flex;
  }
}
@media (min-width: 2087px) {
  body {
    margin: 0 10%;
    box-shadow:
      2em 0 5em rgba(0, 0, 0, 0.1),
      -2em 0 5em rgba(0, 0, 0, 0.1);
  }
  .brand-slide.swiper-slide:nth-child(n + 9) {
    display: flex;
  }
  .brand-slide.swiper-slide:nth-child(n + 11) {
    display: none;
  }
  .service-slide.swiper-slide:nth-child(n + 5) {
    display: flex;
  }
  .service-slide.swiper-slide:nth-child(n + 6) {
    display: none;
  }
  .show-all .brand-slide.swiper-slide {
    display: flex;
  }
  .show-all .service-slide.swiper-slide {
    display: flex;
  }
}

/*# sourceMappingURL=style.css.map */
