@media (min-width: 768px) {
  .header {
    &__center {
      display: block;
      display: flex;
      align-items: center;
      margin-left: auto;
      margin-right: 10px;
      gap: 15px;

      &::after {
        content: '';
        border: $borderDivingLine;
        height: 32px;
        margin-left: 10px;
      }
    }

    &__left {
      margin-left: 25px;

      &::after {
        content: '';
        border: #eaeaea solid 1px;
        height: 32px;
        order: 2;
        margin: 0 5px 0 5px;
      }
    }

    &__right {
      margin-right: 25px;
    }
  }

  .section-title {
    &::before {
      margin-right: 25px;
    }
  }

  .navigation {
    &__list {
      margin-left: 25px;
    }
  }

  .about {
    display: flex;
    gap: 50px;
    margin: 25px 0;

    &__text-container {
      margin: 0 25px;
    }

    &__paragraph--hidden.visually-hidden {
      position: static;
      width: auto;
      height: auto;
      margin: initial;
      clip: auto;
      overflow: visible;
      clip-path: none;
      white-space: normal;
    }

    &__image {
      margin-right: 25px;
      border-radius: 2%;
      width: 360px;
      height: 210px;
    }
  }

  .brands {
    &__header {
      height: 56px;
    }
    &__title {
      padding-left: 25px;
    }

    &__list {
      flex-wrap: wrap;
    }

    &__slider-container {
      padding: 0;
      margin: 0;
    }

    &__expand-button {
      display: block;
      margin: 0 auto 35px 25px;
    }
  }

  .brand-slide.swiper-slide {
    width: 224px;
    margin: 0 0 25px 25px;
  }

  .brand-slide.swiper-slide:nth-child(n + 7) {
    display: none;
  }

  .services {
    &__header {
      height: 56px;
    }
    &__title {
      padding-left: 25px;
    }

    &__list {
      flex-wrap: wrap;
    }

    &__slider-container {
      margin: 0;
      padding: 0;
    }

    &__expand-button {
      display: block;
      margin: 0 auto 35px 25px;
    }
  }

  .service-slide.swiper-slide {
    width: 224px;
    margin: 0 0 25px 25px;
  }

  .service-slide.swiper-slide:nth-child(n + 4) {
    display: none;
  }

  .prices {
    &__slider-container {
      background-color: $bgColorAlt;
      margin: 25px;
      padding: 0;
      border-radius: $radius;
    }

    &__header {
      height: 56px;
      background: $gradientMain;
      border-top: $borderLine;
    }

    &__title {
      padding-left: 25px;
    }

    &__list {
      display: flex;
      flex-direction: column;
    }

    &__table-title {
      color: $textGrey;
      display: grid;
      grid-template-columns: 3.2fr 0.7fr 1fr 0.9fr;
      padding-top: 25px;
    }

    &__item {
      &:nth-child(1) {
        padding-left: 48px;
      }
    }
  }

  .price-slide.swiper-slide {
    width: 100%;
    height: auto;
    margin: 0;
    border: none;
  }

  .price-card {
    display: grid;
    grid-template-columns: 3.1fr 0.7fr 1fr 0.8fr;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #eee;

    &__details {
      display: contents;
    }

    &__label {
      display: none;
    }

    &__title,
    &__price,
    &__duration {
      padding: 5px;
    }

    &__btn {
      justify-self: end;
    }
  }

  .info {
    &__text {
      padding-left: 25px;
    }

    &__btn {
      margin-left: 25px;
    }
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    padding: 25px;

    &__line {
      &:nth-child(1) {
        justify-content: start;
        text-align: start;
      }

      &:nth-child(3) {
        justify-content: end;
        text-align: end;
      }
    }
  }

  .burger-menu {
    background-color: $bgColorBurg;
    height: 100%;

    &__wrapper {
      background-color: $bgColorAlt;
      max-width: 320px;
      box-shadow: 20px 0px 40px #0e185033;
    }

    &__footer {
      margin-top: 200px;
    }
  }

  .submenu-contact {
    background-color: $bgColorBurg;

    &__wrapper {
      height: 100%;
      background-color: $bgColorAlt;
      max-width: 320px;
      box-shadow: 20px 0px 40px #0e185033;
    }
  }

  .submenu-feedback {
    background-color: $bgColorBurg;

    &__wrapper {
      height: 100%;
      background-color: $bgColorAlt;
      max-width: 320px;
      box-shadow: 20px 0px 40px #0e185033;
    }
  }

  .show-all .brand-slide.swiper-slide {
    display: flex;
  }

  .show-all .service-slide.swiper-slide {
    display: flex;
  }
}
@media (min-width: 996px) {
  .brand-slide.swiper-slide:nth-child(n + 7) {
    display: flex;
  }

  .brand-slide.swiper-slide:nth-child(n + 9) {
    display: none;
  }

  .service-slide.swiper-slide:nth-child(n + 4) {
    display: flex;
  }

  .service-slide.swiper-slide:nth-child(n + 5) {
    display: none;
  }

  .show-all .brand-slide.swiper-slide {
    display: flex;
  }

  .show-all .service-slide.swiper-slide {
    display: flex;
  }
}

@media (min-width: 1245px) {
  .brand-slide.swiper-slide:nth-child(n + 9) {
    display: flex;
  }

  .brand-slide.swiper-slide:nth-child(n + 11) {
    display: none;
  }

  .service-slide.swiper-slide:nth-child(n + 5) {
    display: flex;
  }

  .service-slide.swiper-slide:nth-child(n + 6) {
    display: none;
  }

  .show-all .brand-slide.swiper-slide {
    display: flex;
  }

  .show-all .service-slide.swiper-slide {
    display: flex;
  }
}

@media (min-width: 1366px) {
  .container {
    display: block;
    position: relative;
  }

  .burger-menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    height: 100vh;
    overflow-y: auto;
    z-index: 1000;
    transform: none !important;
    opacity: 1 !important;
    visibility: visible !important;
    background-color: #ffffff;
    box-shadow: none;
  }

  main {
    margin-left: 320px;
    padding: 0 32px;
    width: calc(100% - 320px);
    box-sizing: border-box;
  }

  .burger-menu__wrapper {
    box-shadow: none;
  }

  .burger-menu__close-btn {
    display: none;
  }

  .burger-menu__logo {
    margin-left: 0;
  }

  .burger-menu__footer {
    margin-top: 200px;
  }

  .header {
    display: none;
  }

  .wrapper {
    display: flex;
  }

  .actions {
    display: flex;
  }

  .navigation__list {
    flex-wrap: wrap;
    overflow-x: hidden;
  }

  .navigation__item {
    padding: 0 15px;
  }

  .section-title {
    padding-top: 42px;
    margin-left: 0;
  }

  .navigation__list {
    margin-left: 0;
  }

  .about__text-container {
    margin-left: 0;
  }

  .brands__title,
  .services__title,
  .prices__title {
    padding-left: 0;
  }

  .brand-slide.swiper-slide,
  .service-slide.swiper-slide {
    margin-left: 0;
  }

  .brands__expand-button,
  .services__expand-button {
    margin-left: 0;
  }

  .prices__slider-container {
    margin-left: 0;
    margin-right: 0;
  }

  .info__text {
    padding-left: 0;
  }

  .info__btn {
    margin-left: 0;
  }

  .footer {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
  }

  .submenu-contact {
    display: flex;
    flex-direction: row-reverse;
    position: fixed;
    left: auto;
    right: 0;
    transform: translateX(100%);
  }

  .submenu-contact.active {
    transform: translateX(0);
  }

  .submenu-contact__wrapper {
    min-width: 420px;
    position: relative;
  }

  .submenu-contact__form {
    width: 420px;
    padding: 15px;
  }

  .submenu-contact__close-btn {
    position: absolute;
    left: -90px;
  }

  .submenu-contact__title::before {
    margin-right: 30px;
  }

  .submenu-contact__field {
    width: 360px;
  }

  .submenu-feedback {
    display: flex;
    flex-direction: row-reverse;
    position: fixed;
    left: auto;
    right: 0;
    transform: translateX(100%);
  }

  .submenu-feedback.active {
    transform: translateX(0);
  }

  .submenu-feedback__wrapper {
    min-width: 420px;
    position: relative;
  }

  .submenu-feedback__form {
    width: 420px;
    padding: 15px;
  }

  .submenu-feedback__close-btn {
    position: absolute;
    left: -90px;
  }

  .submenu-feedback__title::before {
    margin-right: 30px;
  }

  .submenu-feedback__field {
    width: 360px;
  }
}
@media (min-width: 1670px) {
  .brand-slide.swiper-slide:nth-child(n + 9) {
    display: flex;
  }

  .brand-slide.swiper-slide:nth-child(n + 11) {
    display: none;
  }

  .service-slide.swiper-slide:nth-child(n + 5) {
    display: flex;
  }

  .service-slide.swiper-slide:nth-child(n + 6) {
    display: none;
  }

  .show-all .brand-slide.swiper-slide {
    display: flex;
  }

  .show-all .service-slide.swiper-slide {
    display: flex;
  }
}
@media (min-width: 1800px) {
  body {
    margin: 0 10%;
    box-shadow:
      2em 0 5em rgba(0, 0, 0, 0.1),
      -2em 0 5em rgba(0, 0, 0, 0.1);
  }
  .brand-slide.swiper-slide:nth-child(n + 7) {
    display: flex;
  }

  .brand-slide.swiper-slide:nth-child(n + 9) {
    display: none;
  }
  .service-slide.swiper-slide:nth-child(n + 4) {
    display: flex;
  }

  .service-slide.swiper-slide:nth-child(n + 5) {
    display: none;
  }

  .show-all .brand-slide.swiper-slide {
    display: flex;
  }

  .show-all .service-slide.swiper-slide {
    display: flex;
  }
}

@media (min-width: 2087px) {
  body {
    margin: 0 10%;
    box-shadow:
      2em 0 5em rgba(0, 0, 0, 0.1),
      -2em 0 5em rgba(0, 0, 0, 0.1);
  }
  .brand-slide.swiper-slide:nth-child(n + 9) {
    display: flex;
  }

  .brand-slide.swiper-slide:nth-child(n + 11) {
    display: none;
  }
  .service-slide.swiper-slide:nth-child(n + 5) {
    display: flex;
  }

  .service-slide.swiper-slide:nth-child(n + 6) {
    display: none;
  }

  .show-all .brand-slide.swiper-slide {
    display: flex;
  }

  .show-all .service-slide.swiper-slide {
    display: flex;
  }
}

@media (min-width: 768px) and (max-width: 1365px) {
  .burger-menu.active ~ main {
    position: fixed !important;
    overflow: hidden !important;
  }

  .burger-menu.active ~ main::after {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 20px;
    background: #f8f8f8;
    z-index: 1000;
  }

  .burger-menu.active ~ main::-webkit-scrollbar {
    display: none;
  }
}
